*.pdf
*.zip
Teaching/
Draft/
env/
.DS_Store
machine-learning/PowerPoints
machine-learning/TOPrint
machine-learning/02-Supervised-Learning/dataset
machine-learning/04-Deep-Learning/dataset/MNIST
machine-learning/03-Unsupervised-Learning/dataset
machine-learning/04-Deep-Learning/dataset/Sick-Pig
src/arduino-python-1/solution
src/pygame-zero/draft
src/teaching
src/general-python-2/data
src/general-python-2/draft
src/general-python-2/file
src/general-python-1/examination
src/general-python-1/draft